{% extends "base.html" %}

{% block title %}
initTransaction
{% endblock title %}

{% block header %}
<h1>Transacción Normal<h1>
<h2>initTransaction</h2>
{% endblock header %}

{% block content %}
<form method="POST" action="{{ transaction.url }}" class="pure-form pure-form-stacked">
  <fieldset>
    <label for="show">
      Token:
      <input size="64" type="value" name="show" value="{{ transaction.token }}" disabled="disabled">    
    </label>
    <input type="hidden" name="token_ws" value="{{ transaction.token }}">
    <button type="submit">Send to TBK</button>
  </fieldset>
</form>
<code>{{transaction.envelope_received}}</code>
{% endblock content%}